<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nask" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nask</name>
    <description>Store Notes and Tasks without GAFAM</description>
    <author email="contact@8279.ch" href="https://8279.ch">
        8279 on free time
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/img/logo.png"/>
</widget>
